h1 {color:red; text-align: center;}
#p1 {text-align: center;}
#p2 {font-weight: bold;}
h3{color: red;}
#watetew {font-weight: bold;}
#hr1{border: 1px dotted #000;}
#span1{display:block;}
#w3 {font-weight: bold;}
.wat {display: block;}
#eq {font-weight: bold;}
#spanid {display: block;}